<a href="https://getgle.org"><img src="http://getgle.org/logos/1.png" height="50"></a>
<hr>
<p>Speech Bubble Meme Maker by Getgle.Org!! Create speech bubble meme online free meme maker free discord speech bubble virgin chad gigachad based kek </p>

how to use:
<li>upload image</li>
<li>right click and download image</li>
<input type="file" id="imageLoader" name="imageLoader"/><br>
<canvas id="imageCanvas"></canvas>
<script src="script.js"></script>
<br>
source code: https://gitlab.com/getgle/speech-bubble-maker
